@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
