.container {
  padding: 0 15px;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
