:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --main-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-border-bottom: #ececec;
  --projects-border-bottom: #eeeeee;
  --icons-color: #afb1b8;
}
